* {
    margin: 5px;
    font-family: 'Press Start 2P', cursive;
}

body{
    background-image: url(./images/field.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-screen {
    color: aliceblue;
    background-color: black;
    width: 60%;
    height: 250px;
    display :flex;
    justify-content: center;
}

#pts-time {
    color: aliceblue;
    background-color: black;
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: column;
}

#start-btn {
    background-color: red;
    color : aliceblue;
}

.not-visible {
    visibility: hidden;
}

.not-clickable {
    pointer-events: none;
}

#taupe-field {
    height: 300px;
    width: 300px;
    border: solid 3px black;
    background-color: greenyellow;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.anim-taupe {
    height: 80px;
    width: 80px;
    margin: 0;
    background-image: url(./images/taupe-gif.gif);
    margin: 0;
    background-size: 100%;
}

.cry-taupe {
    height: 80px;
    width: 80px;
    background-image: url(./images/cry-taupe.gif);
    margin: 0;
    background-size: 100%;
}

.taupe-up-a{
    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;height: 40px;
}

.taupe-up-b {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.taupe-up-c {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.taupe-up-d {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.taupe-up-e {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.taupe-up-f {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.taupe-up-g {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.taupe-up-h {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.taupe-up-i {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.taupe-up-j {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.taupe-up-k {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.taupe-up-l {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.taupe-up-m {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.taupe-up-n {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.taupe-up-o {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

.taupe-up-p {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}