* {
    margin: 5px;
    font-family: 'Press Start 2P', cursive;
}

body{
    background-image: url(./images/field2.0.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-position: bottom;
}

#main-screen {
    color: aliceblue;
    background-color: black;
    width: 60%;
    height: 25%;
    min-height: 190px;
    display :flex;
    justify-content: center;
    border: solid 2px whitesmoke;
    line-height: 150%;
}

.display-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

#pts-time {
    color: aliceblue;
    background-color: black;
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: column;
    border: solid 2px whitesmoke;
}

.btn {
border: white solid 1px;
height: 30px;
padding: 0px;
}

#start-btn {
    background-color: rgba(255, 0, 0, 0.822);
    color : aliceblue;
    width:  90px;
}

#start-btn:hover {
    background-color: rgb(253, 25, 25);
}

.not-visible {
    visibility: hidden;
}

.not-clickable {
    pointer-events: none;
}

#mode-btn{
background-color: whitesmoke;
color: black;
width: 250px;
border: black solid 2px;
}


#mode-btn:hover{
    background-color: black;
    color: whitesmoke;
    }

#easy {
background-color: rgba(127, 206, 8, 0.651);
width: 70%;
}

#easy:hover {
    background-color: rgb(127, 206, 8);
    }

#normal {
background-color: rgba(73, 119, 219, 0.582);
width: 60%;
}
#normal:hover {
    background-color: rgb(73, 119, 219);
    }

#expert {
background-color: rgba(199, 57, 57, 0.616);
width: 50%;
}
#expert:hover {
    background-color: rgb(199, 57, 57);
    }

#taupe-field {
    height: 8%;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    margin-top: 150px;
    bottom: 0;
}

#taupe-field:hover {
cursor:url("./images/marteau.png"), default;
}


.anim-taupe {
    height: 75px;
    width: 75px;
    margin: 0;
    background-image: url(./images/taupe-gif.gif);
    margin: 0;
    background-size: 100%;
}

.anim-taupe2 {
    height: 75px;
    width: 75px;
    margin: 0;
    background-image: url(./images/taupeglass.gif);
    margin: 0;
    background-size: 100%;
}


.cry-taupe {
    height: 75px;
    width: 75px;
    background-image: url(./images/cry-taupe.gif);
    margin: 0;
    background-size: 100%;
}

.cry-taupe2 {
    height: 75px;
    width: 75px;
    background-image: url(./images/crytaupeglass.gif);
    margin: 0;
    background-size: 100%;
}

.taupe-up-a{
    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.taupe-up-b {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.taupe-up-c {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.taupe-up-d {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.taupe-up-e {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.taupe-up-f {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}

.taupe-up-g {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
}

.taupe-up-h {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.taupe-up-i {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.taupe-up-j {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.taupe-up-k {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 2;
}

.taupe-up-l {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.taupe-up-m {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

.taupe-up-n {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
}

.taupe-up-o {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}

.taupe-up-p {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
}